@model project_web2.Models.items

<div class="container">
    <h2>Item Details</h2>

    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }

    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">description</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">Pic</dt>
        <dd class="col-sm-10">
            <img src="~/image/@Model.imgfile" height="150" alt="@Model.name" />
            <br />@Model.imgfile
        </dd>
    </dl>

    <form asp-action="cartadd" asp-controller="orders" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label for="quantity" class="control-label">Quantity</label>
            <input name="quantity" type="number" min="1" max="@Model.quantity" class="form-control" id="qu" onchange="gettotal()" />
        </div>

        <div class='alert alert-success' id="tot"></div>

        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </form>
</div>

@section scripts {
    <script>
       
        function gettotal() {
            let tot = 0;
            let q = document.getElementById('qu').value;
            let pr = @Model.price;
            tot = q * pr;

            if ('@Model.discount' === "yes") {
                tot = (tot * 90) / 100;
            }
            document.getElementById("tot").innerHTML = "Total = $" + tot.toFixed(2);
        }
    </script>
}
