@{
    Layout = null;
}
@model IEnumerable<project_web2.Models.orders>

@{
    ViewData["Title"] = "ordersdetail";
}

<h1>ordersdetail</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.custname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            
            <th>
                Details
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.custname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    <a asp-action="orderline" asp-route-orid="@item.Id">View</a>

                </td>
               
            </tr>
        }
    </tbody>
</table>
